ipykernel == 6.29.5
ipython == 8.26.0
jupyter_client == 8.6.0
jupyter_core == 5.7.1
langchain==0.3.1
langchain-core==0.3.6
langchain-community==0.3.1
langchain-chroma == 0.1.4
langchain-experimental == 0.3.2
langchain-text-splitters == 0.3.0
pydantic == 2.9.2 
pydantic-core == 2.23.4
python-dotenv == 1.0.1
sentence_transformers==2.2.2
instructorembedding==1.0.1