jsonlines
transformers==4.33
openai
farm-haystack
wordcloud
scikit-learn
sacrebleu
datasets
sqlitedict
accelerate
omegaconf
evaluate
pycountry
rouge_score
parallelformers
peft
plotly==5.18.0
pydantic==1.10.13