InstructorEmbedding==1.0.1
accelerate == 0.27.2
chromadb==0.5.5
datasets == 2.18.0
evaluate == 0.4.1
faiss-cpu==1.8.0.post1
huggingface-hub==0.25.2
jsonlines == 4.0.0
langchain-community==0.3.1
langchain-core==0.3.6
langchain-milvus==0.1.7rc2
langchain==0.3.1
mypy==1.11.2
omegaconf == 2.3.0
parallelformers == 1.2.7
peft == 0.9.0
plotly==5.18.0
pre-commit==4.0.1
pycountry == 23.12.11
pydantic==2.9.2
pydantic_core==2.23.4
python-dotenv==1.0.0
rouge_score == 0.1.2
ruff==0.6.9
sacrebleu == 2.4.0
scikit-learn == 1.4.1.post1
sentence-transformers==2.2.2
sqlitedict == 2.1.0
sseclient-py==1.8.0
unstructured==0.15.0
wordcloud == 1.9.3
