SQLAlchemy==2.0.39
datasets==2.20.0
huggingface-hub==0.29.2
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab-widgets==3.0.13
langchain==0.3.16
langchain-community==0.3.16
langchain-core==0.3.33
langchain-sambanova==0.1.0
mypy==1.15.0
pre-commit==4.1.0
python-dotenv==1.0.1
ruff==0.10.0
transformers==4.49.0
