SQLAlchemy==2.0.30
datasets==2.20.0
huggingface-hub==0.25.2
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyterlab-widgets==3.0.9
langchain==0.3.16
langchain-community==0.3.26
langchain-core==0.3.33
langchain-sambanova==0.1.0
mypy==1.11.2
pre-commit==4.0.1
python-dotenv==1.0.1
ruff==0.6.9
transformers==4.50.0
