# SambaNova environment
SAMBANOVA_API_KEY = 
#SAMBANOVA_API_BASE = "https://api.sambanova.ai/v1"

# Parcing services
# UNSTRUCTURED_API_KEY =
# UNSTRUCTURED_URL =

# Search tools
# SERPAPI_API_KEY=
# SERPER_API_KEY=
# TAVILY_API_KEY =
# TAVILY_SEARCH_API_KEY = 
# EXA_API_KEY = 

# Tracing
# LANGSMITH_TRACING = true
# LANGSMITH_ENDPOINT =
# LANGSMITH_API_KEY =
# LANGSMITH_PROJECT =

# Configs
# PROD_MODE=true
# START_PARSING_SERVICE=false
# MIXPANEL_TOKEN =

# SambaStudio snapi & snsdk (deprecated)
# SAMBASTUDIO_HOST_NAME=
# SAMBASTUDIO_ACCESS_KEY=
# SAMBASTUDIO_TENANT_NAME="default"
