api: "fastapi" # set either sambastudio, sambaverse or fastapi

embedding_model: 
    "type": "sambastudio" # set either sambastudio or cpu
    "batch_size": 1 #set depending of your endpoint configuration (1 if CoE embedding expert)
    "coe": True #set true if using Sambastudio embeddings in a CoE endpoint 
    "select_expert": "e5-mistral-7b-instruct" #set if using SambaStudio CoE embedding expert

llm: 
    "temperature": 0.0
    "do_sample": False
    "max_tokens_to_generate": 1200
    "sambaverse_model_name": "Meta/Meta-Llama-3-8B-Instruct"
    "coe": True #set as true if using Sambastudio CoE endpoint
    "select_expert": "llama3-405b" #set if using FastCoE, Sambaverse or SambaStudio CoE llm expert
    #fastApi CoE expert name -> "llama3-8b"

lvlm:
    "do_sample": false
    "max_tokens_to_generate": 512 
    "temperature": 1
    "top_k": 50
    "top_p": 1

retrieval:
    "max_characters": 800
    "new_after_n_chars": 500
    "combine_text_under_n_chars": 300
    "k_retrieved_documents": 4

