streamlit==1.32.0
pydantic==2.9.2
pydantic_core==2.23.4
python-dotenv==1.0.1
langchain==0.2.16
langchain-core==0.2.38
langchain-community==0.2.16
sentence_transformers==2.2.2
instructorembedding==1.0.1
schedule==1.2.2
streamlit-extras
sseclient-py==1.8.0
unstructured_inference==0.7.29
unstructured[pdf]==0.13.6
chromadb==0.4.24
nltk==3.8.1