streamlit==1.32.0
pydantic==2.7.0
pydantic_core==2.18.1
python-dotenv==1.0.1
langchain==0.1.16
sentence_transformers==2.2.2
instructorembedding==1.0.1
streamlit-extras
sseclient-py==1.8.0
unstructured_inference==0.7.29
unstructured[pdf]==0.13.6
chromadb==0.4.24