huggingface-hub==0.36.0
instructorembedding==1.0.1
langchain-chroma==1.1.0
langchain-community==0.4.1
langchain-huggingface==1.2.0
langchain-milvus==0.3.3
langchain-sambanova==1.1.0
langchain==1.2.10
mypy==1.18.2
nltk==3.9.2
pre-commit==4.3.0
pydantic==2.12.5
pydantic_core==2.41.5
python-dotenv==1.2.1
pre-commit==4.3.0
ruff==0.14.2
schedule==1.2.2
sentence-transformers==5.1.2
streamlit-extras==0.6.0
unstructured[pdf]==0.18.15
unstructured-inference==1.0.5
