pydantic==2.9.2
pydantic_core==2.23.4
langchain==0.3.1
langchain-core==0.3.6
langchain-community==0.3.1
python-dotenv==1.0.0
Requests==2.31.0
sseclient-py==1.8.0
streamlit==1.25.0
streamlit-extras==0.3.6
ruff==0.6.7
mypy==1.11.2