Requests==2.31.0
langchain-community==0.3.16
langchain-core==0.3.60
langchain==0.3.25
langchain-sambanova==0.1.0
mypy==1.11.2
pre-commit==4.0.1
pydantic==2.9.2
pydantic_core==2.23.4
python-dotenv==1.0.0
ruff==0.6.9
sseclient-py==1.8.0
streamlit-extras==0.3.6
streamlit==1.37.0
