pydantic==2.7.0
pydantic_core==2.18.1
langchain==0.2.16
langchain-core==0.2.38
langchain-community==0.2.16
python-dotenv==1.0.0
Requests==2.31.0
sseclient-py==1.8.0
streamlit==1.25.0
streamlit-extras==0.3.6