@import "tailwindcss";

/* TODO: Configure light and dark mode */
.light {
  --background: #fff;

  background: rgba(var(--background));
}

.dark {
  --background: #0e1117;

  background: rgba(var(--background));
}
