llm: 
  model: "gpt-oss-120b"
  temperature: 0.0
  max_tokens: 2048
  top_p: null
  top_k: null

rag:
  embedding_model: 
    "model": "E5-Mistral-7B-Instruct" 
  retrieval:
    "k_retrieved_documents": 5

prod_mode: False