chromadb==0.4.24
fpdf2==2.7.9
langchain==0.3.1
langchain-chroma==0.1.4
langchain-community==0.3.1
langchain-core==0.3.6
mypy==1.11.2
pandasai==2.2.15
pydantic==2.9.2
pypdf==5.0.0
python-dotenv==1.0.1
ruff==0.6.7
schedule==1.2.2
sentence-transformers==3.1.1
sec-downloader==0.11.1
sseclient-py==1.8.0
streamlit==1.37.0
streamlit-extras==0.4.7
yfinance==0.2.43
weave==0.51.1