fpdf2==2.7.9
kaleido==0.2.1
llama-index==0.11.1
langchain==0.2.16
langchain-chroma==0.1.3
langchain-community==0.2.16
langchain-core==0.2.38
langchainhub==0.1.21
mypy==1.11.2
pandasai==2.2.10
plotly == 5.22.0
pydantic==2.7.0
pypdf==4.3.1
python-dotenv==1.0.1
python-Levenshtein==0.25.1
schedule==1.2.2
sentence-transformers==3.0.1
sec-downloader==0.11.1
sseclient-py==1.8.0
streamlit==1.37.0
streamlit-extras==0.3.6
tiktoken==0.4.0
yfinance==0.2.41
weave==0.51.1