{
  "singleQuote": false,
  "jsxSingleQuote": false,
  "printWidth": 80,
  "semi": true,
  "importOrder": [
    "^react(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^(@/|\\./)?components/(.*)$",
    "^(@/|\\./)?hooks/(.*)$",
    "^(@/|\\./)?stores/(.*)$",
    "^(@/|\\./)?utils/(.*)$",
    "^(@/|\\./)?Constants$",
    "^[./]"
  ],
  "importOrderCaseInsensitive": false,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
