llama-index-core>=0.10.25.post2
llama-index
llama-index-embeddings-openai
llama-index-indices-managed-llama-cloud
llama-index-readers-file
jupyter
llama-index-embeddings-huggingface
ipykernel
python-dotenv
llama-index-llms-sambanovasystems
llama-index-readers-docling
llama-index-node-parser-docling
llama-index-readers-file
llama-index-utils-workflow
llama-index-program-lmformatenforcer
devtools