

chromadb==0.5.3
faiss-cpu==1.7.4
instructorembedding==1.0.1
ipython==8.26.0
langchain-community==0.3.16
langchain-core==0.3.60
langchain-experimental==0.3.2
langchain==0.3.25
langchain-sambanova==0.1.0
langgraph==0.2.28
matplotlib==3.8.0
mypy==1.11.2
openpyxl==3.1.4
pillow==10.4.0
pillow_heif==0.16.0
pre-commit==4.0.1
psutil==6.0.0
pydantic==2.9.2
pydantic_core==2.23.4
pytesseract==0.3.10
python-dotenv==1.0.0
ruff==0.6.9
seaborn==0.12.2
sentence_transformers==2.2.2
sseclient-py==1.8.0
streamlit-extras==0.4.3
streamlit==1.37.0
tqdm==4.66.3
unstructured==0.17.2
unstructured_inference==0.7.36
unstructured_pytesseract==0.3.12
