api: "sambaverse"

llm: 
    "temperature": 0.01
    "max_tokens_to_generate": 500
    "sambaverse_model_name": "Meta/llama-2-70b-chat-hf"
    "sambaverse_select_expert": "llama-2-70b-chat-hf"

retrieval:
    "chunk_size": 1200
    "chunk_overlap": 240
    "db_type": "faiss"
    "k_retrieved_documents": 3
    "score_treshold": 0.3

web_crawling:
    "max_scraped_websites": 20

extra_loaders:
    - "pdf"