llm:
    "type": "sncloud" #  set either sambastudio or sncloud
    "temperature": 0.01
    "max_tokens_to_generate": 500
    "top_p": 1
    "do_sample": false
    "bundle": True #set as true if using Sambastudio bundle endpoint
    "select_expert": "Meta-Llama-3.3-70B-Instruct"

embedding_model: 
    "type": "sncloud" # set either sncloud, sambastudio or cpu
    "model": "E5-Mistral-7B-Instruct" #set if using Cloud or SambaStudio bundle embedding expert

retrieval:
    "chunk_size": 1200
    "chunk_overlap": 240
    "db_type": "chroma"
    "k_retrieved_documents": 3
    "score_treshold": 0.3

web_crawling:
    "max_scraped_websites": 20
    "excluded_links":
        - 'facebook.com'
        - 'twitter.com'
        - 'x.com'
        - 'instagram.com'
        - 'linkedin.com'
        - 'telegram.me'
        - 'reddit.com'
        - 'whatsapp.com'
        - 'wa.me' 

additional_env_vars:
  - SERPAPI_API_KEY

extra_loaders:
    - "pdf"

prod_mode: False