streamlit==1.32.2
streamlit-extras==0.3.6
pydantic==2.7.0
pydantic_core==2.18.1
langchain-community==0.2.10
langchain-core==0.2.25
langchain==0.2.11
sentence_transformers==2.2.2
instructorembedding==1.0.1
faiss-cpu==1.7.4
python-dotenv==1.0.0
sseclient-py==1.8.0
google-search-results==2.4.2
html2text==2024.2.26
unstructured[pdf]==0.12.4
fake-useragent==1.5.1
watchdog==4.0.0
chromadb==0.5.3