#llm-eval
faiss-cpu==1.7.4
fake-useragent==1.5.1
google-search-results==2.4.2
html2text==2024.2.26
huggingface-hub==0.25.2
instructorembedding==1.0.1
langchain-chroma == 0.2.1
langchain-community==0.3.27
langchain-core==0.3.68
langchain-huggingface==0.1.2
langchain-milvus==0.1.10
langchain==0.3.26
langchain-sambanova==0.1.5
mypy==1.11.2
pydantic-core==2.23.4
pydantic==2.9.2 
python-dotenv==1.0.1
ruff==0.6.9
pre-commit==4.0.1
sentence_transformers==3.3.1
sseclient-py==1.8.0
streamlit-extras==0.3.6
streamlit==1.40.2
unstructured[pdf]==0.17.2
watchdog==4.0.0
weave==0.51.31
schedule==1.2.2
