chromadb == 0.6.3
ftfy == 6.3.1
ipyplot == 1.1.2 
matplotlib == 3.10.1
mypy==1.15.0
pillow == 10.2.0
pre-commit==4.1.0
python-dotenv == 1.0.1
ruff==0.10.0
scikit-learn == 1.6.1
streamlit == 1.32.0
watchdog == 4.0.0
