PyYAML==6.0.1
Requests>=2.32.2
ipykernel==6.29.4
langchain-community==0.4.1
litellm==1.37.19
matplotlib==3.8.0
mypy==1.11.2
nbformat==5.10.4
num2words==0.5.13
pandas==1.5.3
plotly==5.19.0
poetry==1.8.3
pre-commit==4.0.1
pydantic==2.12.4
pydantic_core==2.41.5
python-dotenv==1.2.1
ruff==0.6.9
seaborn==0.12.2
sentencepiece==0.2.0
sseclient-py==1.8.0
stqdm==0.0.5
tensorflow==2.16.1
torch==2.9.1
tqdm>=4.66.3
transformers==4.50.1
joblib==1.4.2
openpyxl==3.1.5
streamlit>=1.40.2,<2.0.0