PyYAML==6.0.3
Requests>=2.32.5
ipykernel==7.1.0
langchain-community==0.4.1
litellm==1.80.0
matplotlib==3.10.7
mypy==1.18.2
nbformat==5.10.4
num2words==0.5.13
pandas==1.5.3
plotly==6.3.1
poetry==1.8.3
pre-commit==4.3.0
pydantic==2.12.3
pydantic_core==2.41.4
python-dotenv==1.2.1
ruff==0.14.2
seaborn==0.13.2
sentencepiece==0.2.0
sseclient-py==1.8.0
stqdm==0.0.5
tensorflow==2.16.1
torch==2.9.0
tqdm==4.67.1
transformers==4.57.3
joblib==1.4.2
openpyxl==3.1.5
streamlit==1.51.0