langchain_community==0.2.0
litellm==1.37.19
matplotlib==3.6.3
num2words==0.5.13
pandas==2.1.4
pydantic==2.9.2
pydantic_core==2.23.4
python-dotenv==1.0.0
PyYAML==6.0.1
Requests==2.31.0
seaborn==0.12.2
sseclient-py==1.8.0
streamlit==1.37.0
st-pages==0.5.0
tqdm==4.66.1
transformers==4.41.1
poetry==1.8.3
tensorflow==2.16.1
torch==2.2.2
ipykernel==6.29.4
sentencepiece==0.2.0
plotly==5.24.1
nbformat==5.10.4
stqdm==0.0.5
ruff==0.6.7
mypy==1.11.2
