streamlit==1.25.0
streamlit-extras==0.3.6
pydantic==2.7.0
pydantic_core==2.18.1
langchain==0.2.1
langchain_community==0.2.1
sentence_transformers==2.2.2
instructorembedding==1.0.1
faiss-cpu==1.7.4
python-dotenv==1.0.0
beautifulsoup4==4.12.3
html2text==2020.1.16
nest_asyncio==1.6.0
fake-useragent==1.5.1
unstructured[pdf]==0.12.4
sseclient-py==1.8.0