faiss-cpu==1.7.4
huggingface-hub==0.25.2
instructorembedding==1.0.1
langchain-chroma == 0.2.4
langchain-community==0.3.27
langchain-core==0.3.68
langchain-huggingface==0.3.0
langchain-milvus==0.2.1
langchain==0.3.26
langchain-sambanova==0.1.6
librosa==0.10.1
mypy==1.11.2
nbformat==5.9.2
nltk==3.8.1
plotly==5.19.0
pre-commit==4.0.1
python-dotenv==1.1.1
requests==2.31.0
ruff==0.6.9
sentence_transformers==3.3.1
sseclient-py==1.8.0
streamlit-extras==0.7.5
streamlit==1.46.1
streamlit_javascript==0.1.5
unstructured[pdf]==0.17.2
watchdog==4.0.0
