python-dotenv==1.0.1
requests==2.31.0
langchain == 0.1.2
pydantic==1.10.14
unstructured==0.12.4
sentence_transformers==2.2.2
instructorembedding==1.0.1
faiss-cpu==1.7.4
streamlit==1.31.1
streamlit-extras==0.3.6
watchdog==4.0.0
sseclient==0.0.27
plotly==5.19.0
nbformat==5.9.2
librosa==0.10.1
streamlit_javascript==0.1.5