python-dotenv==1.0.1
requests==2.31.0
langchain==0.2.16
langchain-core==0.2.38
langchain-community==0.2.16
unstructured[pdf]==0.12.4
sentence_transformers==2.2.2
instructorembedding==1.0.1
faiss-cpu==1.7.4
streamlit==1.31.1
streamlit-extras==0.3.6
watchdog==4.0.0
sseclient-py==1.8.0
plotly==5.19.0
nbformat==5.9.2
librosa==0.10.1
streamlit_javascript==0.1.5
nltk==3.8.1