llm: 
    "api": "sncloud" #  set either sncloud or sambastudio
    "temperature": 0.0
    "do_sample": False
    "max_tokens": 1200
    "model": "Meta-Llama-3.3-70B-Instruct" 

embedding_model: 
    "type": "sncloud" # set either sncloud, sambastudio or cpu
    "model": "E5-Mistral-7B-Instruct" #set if using Cloud, or SambaStudio bundle embedding expert

retrieval:
    "db_type": "chroma"
    "k_retrieved_documents": 15 #set if rerank enabled 
    "score_threshold": 0.2
    "rerank": False # set if you want to rerank retriever results 
    "reranker": 'BAAI/bge-reranker-large' # set if you rerank enabled
    "final_k_retrieved_documents": 5
    "conversational": true # set to enable query rephrasing with history in streamlit application 

prompts: 
    "qa_prompt": "enterprise_knowledge_retriever/prompts/qa_prompt.yaml"
    "summary_prompt": "enterprise_knowledge_retriever/prompts/conversation-summary.yaml"
    "condensed_query_prompt": "enterprise_knowledge_retriever/prompts/multiturn_custom_condensed_query.yaml"

pdf_only_mode: True  # Set to true for PDF-only lite parsing mode (use PyMuPdf instead of Sambaparse)
prod_mode: False
