streamlit==1.25.0
pydantic==2.7.0
pydantic_core==2.18.1

langchain-community==0.2.6
langchain-core==0.2.10
langchain==0.2.6

sentence_transformers==2.2.2
instructorembedding==1.0.1
faiss-cpu==1.7.4
PyPDF2==3.0.1
python-dotenv==1.0.0
streamlit-extras
pillow==9.1.0
sseclient-py==1.8.0
unstructured[pdf]==0.13.3
unstructured_inference==0.7.27
PyMuPDF==1.23.4
PyMuPDFb==1.23.3
chromadb==0.4.24
langgraph==0.0.55
openpyxl==3.1.4