python-dotenv==1.0.1
langchain==0.2.16
langchain-core==0.2.38
langchain-community==0.2.16
langchain-experimental==0.0.60
sseclient-py==1.8.0
streamlit==1.38.0
types-PyYAML==6.0.12.20240311
matplotlib==3.8.0
weave==0.51.1
InstructorEmbedding==1.0.1
transformers==4.44.1
sentence-transformers==2.2.2 
chromadb==0.5.0
schedule==1.2.2