instructorembedding==1.0.1
langchain-chroma==1.0.0
langchain-community==0.4.1
langchain-huggingface==1.0.0
langchain-milvus==0.2.2
langchain-sambanova==1.0.0
langchain==1.0.2
langchain-experimental==0.4.0
matplotlib==3.10.7
mypy==1.18.2
pre-commit==4.3.0
pydantic==2.12.3
pydantic_core==2.41.4
python-dotenv==1.2.1
ruff==0.14.2
schedule==1.2.2
sentence-transformers==5.1.2
streamlit==1.51.0
transformers==4.57.3
types-PyYAML==6.0.12.20250915
weave==0.52.8
