InstructorEmbedding==1.0.1
langchain-chroma>=0.2.1,<1.0.0
langchain-community>=0.3.7,<1.0.0
langchain-huggingface>=0.1.2,<1.0.0
langchain-milvus>=0.1.10,<1.0.0
langchain-sambanova>=0.2.0,<1.0.0
langchain>=0.3.26,<1.0.0
langchain-experimental>=0.3.2,<1.0.0
matplotlib==3.10.7
mypy>=1.11.2,<2.0.0
pre-commit==4.0.1
pydantic>=2.9.2,<3.0.0
pydantic_core>=2.23.4,<3.0.0
python-dotenv==1.1.1
ruff>=0.6.9,<1.0.0
schedule==1.2.2
sentence-transformers==3.3.1 
streamlit>=1.40.2,<2.0.0
transformers==4.44.1
types-PyYAML==6.0.12.20240311
weave==0.51.31
