llama-hub==0.0.25
langchain==0.1.4
llama-index==0.9.39
sentence_transformers==2.2.2
instructorembedding==1.0.1
beautifulsoup4==4.12.2
qdrant-client==1.5.2
uvicorn==0.23.2
fastapi==0.99.1
aiohttp==3.9.1
Faker==19.1.0
#urllib3==2.0.4
ratelimit==2.2.1
unstructured==0.8.1
python-xbrl==1.1.1
sec-edgar-downloader==5.0.2
python-dotenv==1.0.0
chromadb==0.4.8