llama-hub==0.0.25
pydantic==2.7.0
pydantic_core==2.18.1
langchain-community==0.2.10
langchain-core==0.2.25
langchain==0.2.11
llama-index==0.9.39
sentence_transformers==2.2.2
instructorembedding==1.0.1
beautifulsoup4==4.12.2
qdrant-client==1.5.2
uvicorn==0.23.2
fastapi==0.110.1
aiohttp==3.9.1
Faker==19.1.0
ratelimit==2.2.1
unstructured==0.8.1
python-xbrl==1.1.1
sec-edgar-downloader==5.0.2
python-dotenv==1.0.0
chromadb==0.4.24
streamlit==1.25.0
sseclient-py==1.8.0