Faker==19.1.0
aiohttp==3.9.1
beautifulsoup4==4.12.2
chromadb==0.4.24
fastapi==0.110.1
instructorembedding==1.0.1
langchain-chroma == 1.1.4
langchain-community==0.3.1
langchain-core==0.3.6
langchain==0.3.1
llama-hub==0.0.25
llama-index==0.9.39
mypy==1.11.2
pydantic==2.9.2
pydantic_core==2.23.4
pypdf==4.3.1
python-dotenv==1.0.0
python-xbrl==1.1.1
qdrant-client==1.5.2
ratelimit==2.2.1
ruff==0.6.9
sec-edgar-downloader==5.0.2
sentence_transformers==2.2.2
sseclient-py==1.8.0
streamlit==1.25.0
unstructured==0.8.1
uvicorn==0.23.2
