eval_dataset:
  name: general_knowledge_data
  path: data/eval_data.csv

llms:
  - name: sncloud-llama3.1-405
    model_type: "sncloud"
    model_name: "Meta-Llama-3.1-405B-Instruct"
    max_tokens: 1024
    temperature: 0.0

  - name: sncloud-llama3.2-1
    model_type: "sncloud"
    model_name: "Meta-Llama-3.2-1B-Instruct"
    max_tokens: 1024
    temperature: 0.0

  - name: sncloud-llama3.1-70
    model_type: "sncloud"
    model_name: "Meta-Llama-3.1-70B-Instruct"
    max_tokens: 1024
    temperature: 0.0

  - name: sncloud-llama3.2-3
    model_type: "sncloud"
    model_name: "Meta-Llama-3.2-3B-Instruct"
    max_tokens: 1024
    temperature: 0.0

rag:
  vectordb:
    db_type: "chroma"
    collection_name: "demo"
  
  embeddings:
    type: "cpu"
    batch_size: 1
    bundle: True
    select_expert: "e5-mistral-7b-instruct"

  llm:
    name: sncloud-llama3.1-405-chroma-rag
    type: "sncloud"
    model: "Meta-Llama-3.1-405B-Instruct"
    max_tokens: 1024
    temperature: 0.0

eval_llm:
  model_type: "sncloud"
  model_name: "Meta-Llama-3.1-405B-Instruct"
  max_tokens: 1024
  temperature: 0.0