


# pytesseract==0.3.10
# unstructured==0.14.9
# unstructured_inference==0.7.36
# unstructured_pytesseract==0.3.12
#LLM Eval
PyMuPDF==1.25.2
PyMuPDFb==1.24.10
chromadb==0.5.3
faiss-cpu==1.7.4
huggingface-hub==0.25.2
instructorembedding==1.0.1
ipython==8.26.0
langchain-chroma == 0.1.4
langchain-community==0.3.16
langchain-core==0.3.63
langchain-huggingface==0.1.2
langchain-milvus==0.1.10
langchain-sambanova==0.1.0
langchain==0.3.25
langgraph==0.2.28
mypy==1.11.2
nltk==3.9.1
openpyxl==3.1.5
pillow==10.4.0
pillow_heif==0.16.0
pre-commit==4.0.1
psutil==6.0.0
pydantic==2.9.2
pydantic_core==2.23.4
python-dotenv==1.0.0
ruff==0.6.9
sentence_transformers==3.3.1
sseclient-py==1.8.0
streamlit-extras==0.4.3
streamlit==1.37.0
weave==0.51.31
